body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #6495ed; /* conflowerblue */
}

#slideContainer {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

#mountains, #trees, #blocks {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10000%;
    background-repeat: repeat-x;
}

#mountains {
    bottom: 200px;
    background-image: url(../assets/mountain.gif);
    height: 146px;
    background-size: 400px auto;
}

#trees {
    bottom: -58px;
    background-image: url(../assets/trees.gif);
    height: 300px;
    background-size: 500px auto;
}

#blocks {
    background-image: url(../assets/block.gif);
    height: 128px;
    background-size: 64px auto;
    background-repeat: repeat;
    z-index: 2;
}

#char, #char img {
    width: 64px;
}

#char {
    position: absolute;
    bottom: 112px;
    left: 100px;
    z-index: 3;
}


#pages {
    position: absolute;
    left: 100%;
    width: 10000%;
    height: 80%;
}

#pages .page {
    width: 1%;
    display: inline-block;
    vertical-align: top;
}

* {
    font-family: 'Glass Antiqua', cursive;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    line-height: 2.2em;
    text-align: center;
}

p {
    margin-top: .5em;
    font-size: 1.7em;
    line-height: 1.9em;
    text-align: center;
    font-weight: bold;
}

iframe {
    border: 3px solid black;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, .5);
}

blockquote {
    display: inline-block;
    width: 40%;
    padding: .1em 9%;
    box-sizing: border-box;
    font-size: 1.7em;
    text-shadow: 0px 0px 2px white;
    color: black;
    font-weight: bold;
}

cite {
    display: block;
    text-align: right;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-style: italic;
    font-weight: normal;
}

cite:before {
    content: '-';
    color: black;
}

.pole {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQIW2Pc8UPiPwMQMMIYAD1SBZG6VFHNAAAAAElFTkSuQmCC');
    position: relative;
    height: 1000px;
    width: 5px;
    overflow: visible;
    display: inline-block;
    top: 155px;
    z-index: 1;
}

.pole img {
    width: 57px;
    position: absolute;
    top: -74px;
    right: -6px;
}
